
<div class="container">
    <div class="pinterestal">

        <div class="card" ng-repeat="u in user">
            <img src="app-content/profile.png">
            <hr>
            <p>
                Username: {{u.username}} <br>
                First name: {{u.firstName}} <br>
                Last name: {{u.lastName}} <br>
                Gender: {{u.gender}} <br>
                Bio: {{u.bio}}
        </div>

    </div>
</div>














<!-- Obicno izlistavanje user-a iz baze -->
    <!--<div ng-repeat="u in user">-->
        <!--{{u.firstName}} - {{u.lastName}}-->
    <!--</div>-->